<h2 class="col-sm-10">Zarejestruj się</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="col-sm-10"> 
  	<%= f.label :email %><br />
  	<%= f.email_field :email, class: "form-control", autofocus: true %></div>

  <div class="col-sm-10">
  	<%= f.label :Hasło %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %></div>

  <div class="col-sm-10"><%= f.label :Powtórz_hasło %><br/>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %><br /></div>

  <div class="col-sm-10"><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>
<div class="col-sm-10"><br/>
<%= render "devise/shared/links" %></div>