<%= @comment.content %> 
<%= link_to "Edytuj", [:edit, @comment] %>
<%= link_to "Usuń", comment_path(@comment.id), method: :delete %>
<% if alert%>
<p>Uwaga!: <%=alert%></p>
<% elsif notice %>
<p>generalnie spoko, ale : <%=notice%></p>
<% end %>
<p>posted by
<% if @comment.author_id!=nil %>
<%= @author.find(@comment.author_id).nickname %>
<% else %>
<%= "Anon" %>
<% end %></p>