<h1 class="center"><%= @comment.content %></h1>
<p class="allign-right">
<%= link_to "Edytuj", [:edit, @comment] %>
<%= link_to "Usuń", comment_path(@comment.id), method: :delete %></p>
<p>Autor: 
<% if @comment.author_id!=nil %>
<%= link_to @comment.author.nickname, author_path(@comment.author.id) %>
<% else %>
<%= "Anon" %>
<% end %></p>