%h1 Rozmowy
%dl
  - @posts.each do |post|
    %dt
      = post.title
    %dd
      = post.content
      %p
        posted by
        - if post.author_id!=nil
          = link_to @authors.find(post.author_id).nickname, author_path(post.author_id)
        - else
          = "Anon"

      = link_to "Przejdź tutaj", article_path(@articles.where(post_id: post.id).first.id)
      - @comments.each do |comment|
        %p
        - if comment.post_id==post.id
          %dd
          = comment.content
          = link_to "Przejdź do", comment_path(comment.id)
          %p
            posted by
            - if comment.author_id!=nil
              = link_to @authors.find(comment.author_id).nickname, author_path(comment.author_id)
            - else
              = "Anon "
        
%hr
%p 
  = link_to "Utwórz rozmowę", new_post_path