%h1 Rozmowy
- if alert
  %p
    Uwaga!: #{alert}
- elsif notice
  %p
    generalnie spoko, ale : #{notice}
%dl
  - @comments.each do |comment|
    %dt
      = @posts.find(comment.post_id).title
    %dd
      = @posts.find(comment.post_id).content

      = link_to "Przejdź tutaj", article_path(@articles.where(post_id: comment.post_id).first.id)
      %p
        posted by
        - if @posts.find(comment.post_id).author_id!=nil
          = @authors.find(@posts.find(comment.post_id).author_id).nickname
        - else
          = "Anon"
    %dd
      = comment.content
      = link_to "Przejdź do", comment_path(comment.id)
      %p
        posted by
        - if comment.author_id!=nil
          = @authors.find(comment.author_id).nickname
        - else
          = "Anon "