%h1 Rozmowa
%dl
  %dt
    = @post.title
  %dd
    = @post.content
    %p
      posted by
      - if @post.author_id!=nil
        = link_to @post.author.nickname, author_path(@post.author.id)
      - else
        = "Anon"

    = link_to "Przejdź do postu", post_path(@post.id)
    - @comments.each do |comment|
      %p
      - if comment.post_id==@post.id
        %dd
        = comment.content
        = link_to "Przejdź do", comment_path(comment.id)
        %p
          posted by
          - if comment.author_id!=nil
            = link_to @authors.find(comment.author_id).nickname, author_path(comment.author_id)
          - else
            = "Anon "
        
%hr