<% if current_user %>
<h1>Witaj, <%= current_user.email %></h1>
<%= link_to "wyloguj", destroy_user_session_path, method: :delete %>
<%= link_to "przejdz do forum", posts_path %>
<% else %>
<h1>Witaj, Anon</h1>
<%= link_to "zarejestruj się", new_user_registration_path %>
<%= link_to "zaloguj się", new_user_session_path %>
<% end %>