<h1 class="center"><%= @post.title %> </h1>
</br>
<p class="col-sm-10">
<%= @post.content %> </p>
</br>
<p class="col-sm-10">Autor: 
<% if @post.author_id!=nil %>
<%= link_to @author.find(@post.author_id).nickname, author_path(@post.author_id) %>
<% else %>
<%= "Anon" %>
<% end %></p>
<p class="col-sm-10">
<%= link_to "Edytuj", [:edit, @post] %>
<%= link_to "Usuń", post_path(@post.id), method: :delete %>
<%= link_to "Skomentuj", new_comment_path(post_id:@post.id) %></p>