%html
  %head
    %title Uber Blog 9000
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div
      - if alert
        %p
          Uwaga: #{alert}
      - elsif notice
        %p
          Spokojnie: #{notice}
    = yield