%html
  %head
    %title Uber Blog 9000
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.center
      - if alert
        %p.change-color-to-red
          Uwaga: #{alert}
        %hr
      - elsif notice
        %p.change-color-to-orange
          Spokojnie: #{notice}
        %hr
    %div.allign-left
      \#{link_to "Główna" , root_url}
    - if current_user
      .allign-right.change-color-to-green
        Jesteś zalogowany jako 
        \#{link_to current_user.author.nickname , current_user.author}
        = link_to "wyloguj", destroy_user_session_path, method: :delete
      %hr
    = yield