%html
  %head
    %title Uber Blog 9000
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div
      - if alert
        %p
          Uwaga: #{alert}
        %hr
      - elsif notice
        %p
          Spokojnie: #{notice}
        %hr
    - if current_user
      %div
        \#{link_to current_user.author.nickname , current_user.author}
      = link_to "wyloguj", destroy_user_session_path, method: :delete
      %hr
    = yield